@charset "UTF-8";
/* CSS Document */

#heading{
    font-size: 40px;
    font-weight: bold;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
}

#main{
width:750px; height:500px;
margin:0 auto;	
}
#userinput{
	float:left;
	margin-top:25px;
	padding:20px;
	background-color:#999966;
	width:300px; height:500px;
	}


#useroutput{
	float:left;
	margin-top:25px;
	margin-left:20px;
	padding:20px;
	width:300px; height:500px;
	background-color:#CCCCCC;
	
	}

